.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

/* Dynamic spinner for please-wait page within file upload journey */
.ccms-loader {
  border: 12px solid #DEE0E2;
  border-radius: 50%;
  border-top-color: #005EA5;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

 .custom-box {
  box-shadow: inset 0 0 0 1px #b1b4b6;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
            }

    .moj-filter__tag_lock {
        font-size: 1rem;
        line-height: 1.25;
        max-width: none;
    }

  .custom-col-width-1
  { width: 42%; }
  .custom-col-width-2
  { width: 38%; }

  .new-line {
      display: block;
  }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* End of dynamic spinner */

.govuk-tag-width-override {
    max-width: fit-content
    }
